<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style_blackjack.css">
    <link rel="icon" href="{{ url_for('static', filename='/images/casino_favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="static/queries_blackjack.css">
    <title>blackjack</title>
</head>
<body>
    <div id="logo">
        <a href="http://127.0.0.1:5000/"><img src="static/images/casino_logo.png" alt=""></a>
    </div>

    <div id="casino-text">
        <a href="http://127.0.0.1:5000/"><h1>CASINO</h1></a>
    </div>
    
</body>
</html>