<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <!--<link rel="stylesheet" href="static/queries_blackjack.css">-->
    <link rel="stylesheet" href="static/style_blackjack.css">
    <!--<link rel="icon" href="{{ url_for('static', filename='/images/casino_favicon.png') }}" type="image/x-icon">-->
    <script src="static/js/blackjack.js"></script>
</head>

<body>
    <audio id="background-music" src="static/sounds/casino-piano.mp3" autoplay loop></audio>
    <audio id="hit-cards" src="static/sounds/hit-cards.mp3"></audio>
    <audio id="slapp-stay" src="static/sounds/slapp-stay.mp3"></audio>
    <audio id="win-sound" src="static/sounds/win-sound.mp3"></audio>
    <audio id="loose-sound" src="static/sounds/loose-sound.mp3"></audio>
    <audio id="tie-sound" src="static/sounds/tie-sound.mp3"></audio>

    <div id="logo">
        <a href="http://127.0.0.1:5000/"><img src="static/images/casino_logo.png" alt=""></a>
    </div>

    <div id="casino-text">
        <a href="http://127.0.0.1:5000/"><h1>CASINO</h1></a>
    </div>

    <div id="black-jack-text">
        <h2>Black Jack</h2>
    </div>

    <div id="background-image">
        <img src="static/images/casino-table.png" alt="">
    </div>

    <div id="tokens-image">
        <img src="static/images/tokens.png" alt="">
    </div>

    <section id="black-jack-game">
        <h2>Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
            <img id="hidden" src="static/images/cards/Back.png">
        </div>

        <h2>You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <button onclick="playSound()" id="hit">Hit</button>
        <button onclick="playSound2()" id="stay">Stay</button>
        <p id="results"></p>
    </section>

    <section id="player-zone">
        <h2>Your account: <span id="your-account"></span></h2>
        <h2>Your bet: <span id="your-bet"></span></h2>
    </section>

    <div id="betting-options">
        <h3>***Choose your bet***</h3>
        <select id="bet-selection">
            <option value="moznost1">1$</option>
            <option value="moznost2">5$</option>
            <option value="moznost3">10$</option>
            <option value="moznost4">20$</option>
            <option value="moznost5">50$</option>
        </select>
    </div>

    <div id="player-menu">
        <ul id="game-menu">
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/blackjack">New Game</a></li>
            <li><a href="#polozka4">Log Out</a></li>
            <li><a href="#polozka5" onclick="playPause()">Music ON OFF</a></li>
        </ul>   
    </div>
    
</body>
</html>