<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/queries.css">
    <link rel="stylesheet" href="static/others/grid.css">
    <link rel="icon" href="{{ url_for('static', filename='/images/casino_favicon.') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="static/js/script.js"></script>

    <title>Casino</title>
</head>

<body>
    <header>
        <div class="header-text">
            <h1>CASINO</h1>
            <a href="registry" class="btn btn-full">Registration</a>
            <a href="blackjack" class="btn btn-empty">Play Black Jack</a>
        </div>

        <div class="nav-background"></div>

        <div class="nav-bar row">
            <div id="logo">
                <img src="static/images/casino_logo.png" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="#" class="jq--scroll-our-casino">Our Casino</a></li>
                    <li><a href="#" class="jq--scroll-photo-gallery">Photo Gallery</a></li>
                    <li><a href="#" class="jq--scroll-about-our-casino">About our Casino</a></li>
                    <li><a href="#" class="jq--scroll-references">References</a></li>
                    <li><a href="#" class="jq--scroll-contact">Contact</a></li>
                </ul>

                <div class="login-text">
                    <h2>Login</h2>
                </div>

                <div class="login-form">
                    <form action="" method="post">
                        <input type="mail" name="email" placeholder="Email"><br>
                        <input type="password" name="password" placeholder="Password"><br>
                        <input type="submit" value="Submit">
                    </form>
                    <div id="log-message">
                        {% if message %}
                        <p>{{ message }}</p>
                        {% endif %}
                    </div>
                </div>
                <div id="login-message">
                    {% if login_message %}
                    <p>{{ login_message }}</p>
                    {% endif %}
                </div>
                
                <div class="mobile-nav-back"></div>
                <a class="mobile-nav-icon jq--nav-icon"><img class="jq--image-hamburger" src="static/images/hamburger.png" alt="menu-symbol"></a>
            </nav>
        
        </div>
    </header>
    
    <main>
        <section class="about-us row jq--our-casino">
            <div class="empty-space"></div>
            <div class="heading-main">
                <h2>Our Casino</h2>
            </div>
            <div class="casino-example">
                <div class="col span-1-of-2">
                    <img src="static/images/casino_gallery.png" alt="">
                </div>
                <div class="col span-1-of-2">
                    <img src="static/images/casino_gallery2.png" alt="">
                </div>
            </div>
        </section>
        
        <section class="photo-gallery jq--photo-gallery">
            <div class="empty-space"></div>
            <div class="heading-main">
                <h2>We offer a brick and mortar casino with air-conditioned rooms with the company of beautiful waitresses or you can play
                from the comfort of your home fully and without restrictions online</h2>
            </div>

            <div class="photos row">
                <ul class="photo-segment">
                    <li class="col span-1-of-2"><img src="static/images/casino_gallery2.png" alt=""></li>
                    <li class="col span-1-of-2"><img src="static/images/casino_gallery3.png" alt=""></li>
                </ul>
            
                <ul class="photo-segment">
                    <li class="col span-1-of-2"><img src="static/images/casino_gallery4.png" alt=""></li>
                    <li class="col span-1-of-2"><img src="static/images/casino_gallery5.png" alt=""></li>
                </ul>
            
                <ul class="photo-segment">
                    <li class="col span-1-of-2"><img src="static/images/casino_gallery6.png" alt=""></li>
                    <li class="col span-1-of-2"><img src="static/images/casino_gallery7.png" alt=""></li>
                </ul>
            </div>
        </section>

        <section class="our-casino row jq--about-our-casino">
            <div class="empty-space"></div>
            <div class="heading-main">
                <h2>About our Casino</h2>
            </div>
            
            
            <div class="casino-info">
                <div class="col span-1-of-2">
                    <img src="static/images/casino_gallery3.png" alt="">
                </div>
                <div class="col span-1-of-2">
                    <div class="text-casino clearfix">
                        <div>1</div>
                        <p>Our casino offers a pleasant environment in the company of beautiful ladies. Our croupiers are very friendly and
                        professional.</p>
                    </div>
                    <div class="text-casino clearfix">
                        <div>2</div>
                        <p>Our casino offers a pleasant environment in the company of beautiful ladies. Our croupiers are very friendly and
                        professional.</p>
                    </div>
                    <div class="text-casino clearfix">
                        <div>3</div>
                        <p>Our casino offers a pleasant environment in the company of beautiful ladies. Our croupiers are very friendly and
                        professional.</p>
                    </div>
                    <div class="text-casino clearfix">
                        <div>4</div>
                        <p>Our casino offers a pleasant environment in the company of beautiful ladies. Our croupiers are very friendly and
                        professional.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="reference jq--references">
            <div class="empty-space"></div>
            <div class="heading-main">
                <h2>What our clients have said about us</h2>
            </div>

            <div class="client-reference row">
                <div class="col span-1-of-3 one-reference">
                    <p>I recently visited the casino and can only recommend it.</p>
                    <div class="photo-name">
                        <img src="static/images/player_reference.png" alt="" class="clearfix">
                        <p>Yasmine Bleeth</p>
                    </div>
                </div>
                <div class="col span-1-of-3 one-reference">
                    <p>I recently visited the casino and can only recommend it.</p>
                    <div class="photo-name">
                        <img src="static/images/player_reference2.png" alt="" class="clearfix">
                        <p>John McCall</p>
                    </div>
                </div>
                <div class="col span-1-of-3 one-reference">
                    <p>I recently visited the casino and can only recommend it.</p>
                    <div class="photo-name">
                        <img src="static/images/player_reference2.png" alt="" class="clearfix">
                        <p>Mark Twain</p>
                    </div>
                </div>
            </div>
       </section>

       <section>
            <div class="empty-space"></div>
            <div class="heading-main">
                <h2>Ask for anything</h2>
            </div>

            <form action="" class="contact-form row jq--contact">
                <input type="text" placeholder="Name"><br>
                <input type="text" placeholder="Surname"><br>
                <input type="mail" placeholder="Email"><br>
                <textarea name="" id="" cols="30" rows="10" placeholder="Vaše zpráva"></textarea><br>
                <input type="submit" value="Submit">
            </form>

       </section>


        
    </main>

    <footer class="footer-page">
        <div class="row">
            <div class="social">
                <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
                <p><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
            </div>
            <div class="footer-text">
                Copywrite &copy; 2024 Casino company. All rights reserved.
            </div>
        </div>
    </footer>

</body>
</html>