<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/others/grid.css">
    <title>Casino</title>
</head>
<body>
    <header>
        <div class="header-text">
            <h1>CASINO</h1>
            <a href="#" class="btn btn-full">Prvni tlacitko</a>
            <a href="#" class="btn btn-empty">Druhe tlacitko</a>
        </div>
            <div class="nav-bar row">
            <div id="logo">
                <img src="static/images/casino_logo.png" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Jedna</a></li>
                    <li><a href="#">Dva</a></li>
                    <li><a href="#">Tři</a></li>
                    <li><a href="#">Čtyři</a></li>
                    <li><a href="#">Pět</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="about-us row">
            <div class="heading-main">
                <h2>Our Casino</h2>
            </div>
        </section>
        
        <section class="Photo-gallery">
            <div class="heading-main">
                <h2>Photogallery</h2>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>