<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_registry.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/casino_favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='queries_registry.css') }}">
    <title>Casino registry</title>
</head>

<body>
    
    <div id="logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/casino_logo.png') }}"
                alt=""></a>
    </div>

    <div id="casino-text">
        <a href="{{ url_for('index') }}">
            <h1>CASINO</h1>
        </a>
    </div>

    <div id="registry-title">
        <h2>Registration</h2>
    </div>

    <div id="reg-form">
        <form action="{{ url_for('register_form') }}" method="post" class="registry-form">
            {{ form.csrf_token }}
            {{ form.name(placeholder="Name") }}<br>
            {{ form.surname(placeholder="Surname") }}<br>
            {{ form.nickname(placeholder="Nickname") }}<br>
            {{ form.age(placeholder="Age, you must be at least 18 years old") }}<br>
            {{ form.email(placeholder="Email") }}<br>
            {{ form.password(placeholder="Password, must be at least 8 characters long") }}<br>
            <input type="submit" value="Submit">
        </form>
        <div id="reg-message">
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>

</body>

</html>