@media only screen and (max-width: 1200px) {
    #casino-text {
        left: 35%;
        top: 17%;
    }
}

@media only screen and (max-width: 500px) {
    #casino-text {
        left: 50%;
        top: 17%;
    }

    #registry-title {
        left: 25%;
        top: 30%;
        border-bottom: none;
    }
}
