* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#logo img {
    width: 50px;
    position: absolute;
    top: 10%;
    left: 2%;
}

#casino-text {
    position: absolute;
    top: 23%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#casino-text h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#casino-text a {
    text-decoration: none;
}

/* Black Jack game */
#background-image {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#background-image img {
   height: 100vh;
   background-attachment: fixed;
}

#tokens-image {
    position: absolute;
    top: 65%;
    right: 5%;
}

#black-jack-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#black-jack-text {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#button-new-game {
    position: absolute;
    top: 38%;
    right: 11%;
}

h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#black-jack-text h2 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#results {
    background-color: black;
    font-size: 20px;
    color: white;
}

#player-zone {
    position: absolute;
    top: 50%;
    right: 5%;
}

#betting-options {
    position: absolute;
    top: 60%;
    right: 10%;
}

#betting-options h3 {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

select #bet-selection {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#player-menu {
    position: absolute;
    top: 5%;
    right: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}