* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****header*****/
header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/background_image.png');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

header h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

/***** reusable *****/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

#logo img {
    width: 100px;
    position: absolute;
    top: 2%;
}

.heading-main h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.heading-main h2:after {
    content: '';
    display: block;
    width: 150px;
    border-bottom: 2px solid #dc4f00;
    margin: 20px auto;
}

/***** navigation *****/
nav ul {
    float: right;
    margin-top: 40px;
}

nav ul li {
    display: inline-block;
    color: #fff;
    margin-left: 15px;
}

nav ul li a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active {
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #dc4f00;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #ff7c32;
    border-radius: 10px;
    margin-top: 7px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

.btn-full:link,
.btn-full:visited {
    background: #dc4f00;
}

.btn-full:hover,
.btn-full:active {
    transition: 0.5s;
    background: #a93d00;
    border: 1px solid #a93d00;
}

.btn-empty:link,
.btn-empty:visited {
    margin-left: 5px;
    background: transparent;
}

.btn-empty:hover,
.btn-empty:active {
    transition: background 0.5s;
    background: #a93d00;
    border: 1px solid #a93d00;
}

/***** About us *****/
.casino-example img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}

/***** Our Casino *****/
.casino-info img {
    width: 100%;
    height: 335px;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}

.text-casino {
    margin-bottom: 20px;
}

.text-casino div {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 50%;
    padding: 12px;
    float: left;
}

.text-casino p {
    margin-left: 60px;
    font-size: 20px;
}

/***** Reference *****/
.reference {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/background_image.png");
    background-attachment: fixed;
}

.reference h2 {
    color: #fff;
    padding-top: 40px;
}

.reference h2:after {
    border-bottom: 2px solid #fff;
}

.one-reference {
    color: #fff;
    font-size: 20px;
}

.one-reference p {
    font-style: italic;
}

.photo-name {
    margin-top: 10px;
    margin-bottom: 60px;
}

.photo-name p {
    padding: 13px;
    margin-left: 60px;
    font-style: normal;
}

.photo-name img {
    width: 50px;
    border-radius: 50%;
    float: left;
}

/***** Photo gallery *****/
.photo-segment img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: scale(1.15);
}

.photo-segment img:hover {
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1);
    opacity: 1;
}

.photo-segment li {
    list-style-type: none;
    background-color: #000;
    overflow: hidden;
    height: 100%;
}

/***** Stop floating*****/
.clearfix {
    zoom: 1
}

/***** Contact form *****/
.contact-form {
    width: 700px;
    text-align: center;
}

.contact-form input {
    width: 80%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;

}

.contact-form textarea {
    width: 80%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-family: Arial;
}

input[type="submit"] {
    background-color: #aa4309;
    color: #fff;
    font-size: 20px;
}

input[type="submit"]:hover {
    transition: background-color 0.5s;
    background-color: #d67e4d;
    color: #000;
}

/***** Footer page *****/
.footer-page {
    background: #aa4309;
    margin-top: 30px;
    color: #fff;
}

.social {
    text-align: center;
    margin: 10px 0;
}

.social p {
    display: inline;
    margin-right: 20px;
}

.social p a:link,
.social p a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


.social p a:hover,
.social p a:active {
    color: #000;
}

.footer-text {
    text-align: center;
    margin: 10px 0;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
