* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background_image.png');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

#logo img {
    width: 100px;
    position: absolute;
    top: 10%;
    left: 2%;
}

#casino-text {
    position: absolute;
    top: 16%;
    left: 17%;
    transform: translate(-50%, -50%);
}

#casino-text h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#casino-text a {
    text-decoration: none;
}