* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****header*****/
header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/background_image.png');
    background-size: cover;
    height: 100vh;
}

header h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

/***** reusable *****/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

#logo img {
    width: 100px;
    position: absolute;
    top: 2%;
}

/***** navigation *****/
nav ul {
    float: right;
    margin-top: 40px;
}

nav ul li {
    display: inline-block;
    color: #fff;
    margin-left: 15px;
}

nav ul li a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active {
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #dc4f00;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #ff7c32;
    border-radius: 10px;
    margin-top: 7px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

.btn-full:link,
.btn-full:visited {
    background: #dc4f00;
}

.btn-full:hover,
.btn-full:active {
    transition: 0.5s;
    background: #a93d00;
    border: 1px solid #a93d00;
}

.btn-empty:link,
.btn-empty:visited {
    margin-left: 5px;
    background: transparent;
}

.btn-empty:hover,
.btn-empty:active {
    transition: background 0.5s;
    background: #a93d00;
    border: 1px solid #a93d00;
}