* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
}

#logout-message {
    position: absolute;
    top: 11%;
    left: 8%;
    text-align: center;
}

#logout-message p {
    color: white;
    font-size: 20px;
    text-transform: lowercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#logout-message p a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
}

.nickname {
    color: rgb(122, 110, 39);
}

/* Logo */
#logo img {
    width: 50px;
    position: absolute;
    top: 5%;
    left: 2%;
}

/* Main titles */
#casino-text {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#casino-text h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#casino-text a {
    text-decoration: none;
}

#black-jack-text {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#black-jack-text h2 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

#deck-of-cards {
    position: absolute;
    top: 60%;
    left: 5%;
}

#deck-of-cards img {
    height: auto;
    width: 300px;
    margin: 1px;
}

#background-image img {
   height: 100vh;
   background-attachment: fixed;
}

#tokens-image  {
    position: absolute;
    top: 65%;
    right: 5%;
}

#black-jack-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#results {
    background-color: black;
    font-size: 20px;
    color: white;
}

#player-zone {
    position: absolute;
    top: 50%;
    right: 9%;
}

h2 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
    background-color: black;
    display: inline-block;
}

section p {
    color: white;
    font-size: 20px;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

select {
    width: 60px;
    height: 20px;
}

#betting-options {
    position: absolute;
    top: 57%;
    right: 8.5%;
}

#betting-options h3 {
    color: white;
    font-size: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    word-spacing: 3.5px;
}

select #bet-selection {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#player-menu {
    position: absolute;
    top: 11%;
    right: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}